
/* Cookie notification */
.cookiewarning {
    padding: 1em;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    color: white;
}