
#compte:focus, 
#mot_de_passe:focus, 
#langue:focus {

    text-transform: uppercase;
    font-weight: bold;
    color: #495057;
    background-color: #fff;
    border-color: #26b99a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 185, 154, 0.25);
    border-width: 3px;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;

}

.dg-body_auth {
    font-family: Titilium web; background-color: #F7F7F7;
    background-image: url(../../images/png/Grey.png);
    /*background-color: lightgrey;*/
    background-attachment: scroll;
}

/* Cookie notification */
.cookiewarning {
    padding: 1em;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    color: white;
}