@{
    Layout = null;
}

<div class="main_container">

    <div class="col-md-12">

        <div class="col-middle">

            <div class="text-center">

                <h1 class="error-number">
                    @ViewBag.code
                </h1>

                <h2>
                    @ViewBag.message
                </h2>

                <p>
                    @ViewBag.description
                </p>

            </div>

        </div>

    </div>

</div>