@{
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="row">

    <div class="col-xs-12 col-sm-3 col-lg-4"></div>

    <div class="col-xs-12 col-sm-6 col-lg-4">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="lead">
                    Se connecter à l'application
                </p>
            </div>
        </div>

        <div class="login-panel panel panel-default">

            <div class="panel-body">

                <form role="form" id="auth_form" class="form-label-left">

                    <fieldset>

                        <div class="form-group has-feedback">
                            <label style="font-weight: bold;" for="compte">Compte <small class="text-red">*</small>:</label>
                            <input class="form-control" placeholder="Compte..." name="compte" id="compte" type="text" required autofocus />
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label style="font-weight: bold;" for="mot_de_passe">Mot de passe <small class="text-red">*</small>:</label>
                            <input class="form-control" placeholder="Mot de passe..." name="mot_de_passe" id="mot_de_passe" type="password" required />
                            <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label style="font-weight: bold;" for="mot_de_passe">Langue de l'application <small class="text-red">*</small>:</label>
                            <select class="form-control" name="mot_de_passe" id="langue">
                                <option value="1" title="Français" @Html.Raw((ViewBag.Lang.code != "en-US") ? "selected=\"selected\"" 
                                                                                                            : string.Empty)>
                                    Français
                                </option>
                                <option value="0" title="Anglais" @Html.Raw((ViewBag.Lang.code == "en-US") ? "selected=\"selected\"" 
                                                                                                           : string.Empty)>
                                    Anglais
                                </option>
                            </select>
                            <img src="~/Resources/images/png/flag/@(ViewBag.Lang.code).png" 
                                 class="form-control-feedback right img-responsive" aria-hidden="true" 
                                 style="height: 15px; padding-left: 7px; padding-right: 7px" />
                        </div>

                        <br />

                        <button id="bt_submit" type="submit" class="btn btn-lg btn-success btn-block"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Authentification en cours...">
                            <i class="fa fa-check"></i> Se connecter
                        </button>

                    </fieldset>

                </form>

            </div>

        </div>

        <div class="well well-sm text-center">
            @ViewBag.Lang.Copyright
        </div>

        <div class="col-lg-12 text-center">
            <p>
                Version @ViewBag.VERSION_BUILD
            </p>
        </div>

    </div>

    <div class="col-xs-12 col-sm-3 col-lg-4"></div>

</div>