
<!-- Modal Message -->
<div class="modal fade" id="modal_message" tabindex="-1" role="dialog" aria-labelledby="modal_message_titre" aria-hidden="true">
    <div id="modal_message_taille" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Header -->
                <p style="font-weight: bold; font-size: 18px;">
                    <!-- Title -->
                    <span id="modal_message_titre">
                        <i class="glyphicon glyphicon-info-sign text-info"></i> Information
                    </span>
                    <!-- ./Title -->
                    <!-- Close bouton -->
                    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true" style="font-weight: bold;">
                        <i class="fa fa-times"></i>
                    </button>
                    <!-- ./Close bouton -->
                </p>
                <!-- ./Header -->
                <!-- Message -->
                <p class="text-center" id="modal_message_text">
                    Message
                </p>
                <!-- ./Message -->
            </div>
            <div class="modal-footer">
                <button id="modal_message_btn_fermer" type="button" class="btn btn-sm btn-light pull-right" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i> Fermer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ./Modal Message -->

<!-- Modal Message Question -->
<div class="modal fade" id="modal_message_question" role="alert" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="gbalert alert-dark" role="alert">
                    <!-- Bouton caché d'activation -->
                    <span id="modal_message_question_reponse" hidden="hidden">false</span>
                    <!-- ./Bouton caché d'activation -->
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    <span class="gbtext-bold">Confirmation</span>
                    <br />
                    <span id="modal_message_question_message"></span> ?
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal_message_question_bouton_non" type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    <i class="fa fa-fw fa-close"></i> @ViewBag.Lang.No
                </button>
                <button id="modal_message_question_bouton_oui" type="button" class="btn btn-success pull-right" data-dismiss="modal">
                    <i class="fa fa-fw fa-check"></i> @ViewBag.Lang.Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->