@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="main_container">

    <!-- Menu -->
    @Html.Partial("Main/_Menu")

    <!-- Header -->
    @Html.Partial("Main/_Header")

    <!-- page content -->
    <div class="right_col" role="main" id="conteneur"></div>

    <!-- Footer -->
    @Html.Partial("../Shared/_Footer")

</div>