@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="main_container">

    <!-- Menu -->
    @Html.Partial("Main/_Menu")

    <!-- Header -->
    @Html.Partial("Main/_Header")

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Application</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("../Shared/_Footer")

</div>